<% include partials/header %>

<svg id="main" width="900" height = "500"></svg>
<span>
    <p>
        <input type="text" id="amount1"  placeholder="alpha_0"/>
        <input type="text" id="amount2"  placeholder="alpha_1"/>
    </p>

    <div id="slider-1" style="height: 200px;"></div>
    <div id="slider-2" style="height: 200px;"></div>
</span>

<script type="text/javascript" src="script/home.js"></script>
    
<% include partials/footer %>