<% include partials/header %>

<script type="text/javascript" src="script/home.js"></script>
<select id="disp_params">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>

<% include partials/footer %>