h1 {
    color: blueviolet;
}

body {
    font: 10px avenir;
}

p {
  float: left;
}

svg {
  float: left;
}
  
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  fill: black;
  /* stroke: black; */
}

.browser text {
  text-anchor: end;
}

.paramText {
  font-size: 11px;
}

.line1 {
  stroke: #1f77b4;
  fill: none;
  stroke-width: 4;
}

.line2 {
  stroke: green;
  fill: none;
  stroke-width: 4;
}
 
 #slider-2{
  margin-left: 60px;
  margin-right: 60px;
  float:left; 
 }
 
 #slider-1{
  margin-left: 60px;
  margin-right: 60px;
  float:left; 
 }

 #slider-3{
  margin-left: 20px;
  margin-right: 20px;
  float:left; 
 }